.itemdisplay {
  text-align: center;
  margin: 10px;
  padding: 20px 0 10px 15px;
  /* background-color: yellowgreen; */
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.carditem {
  display: flex;
  justify-content: space-between;
}
